<% @layout_heading = false %>
<% @layout_fit_my_4x4 = 'above' %>
<% @layout_social = true %>
<% @layout_homepage_categories = true %>
<% @slideshow_images = @page.images_with_captions if @page.present? %>
<% @slideshow_image_width = :full %>
<% @categories_collapsed = false %>

<% products = Refinery::Ironman::Product.active.homepage_products.limit(2) %>
<% @homepage_categories = Refinery::Ironman::Category.active.homepage_categories.limit(5) %>
<% post = Refinery::Ironman::Post.active.homepage_posts.limit(1).first() %>

<div id="home">
  <div class="container first-row clearfix">
    <div class="content col-sm-8">
      <%= render '/refinery/content_page' %>
    </div>

    <div class="find-local-stockist col-sm-4">
      <h3><%= t('.find_stockist') %></h3>
      <div class="map" style="background-image:url(<%= image_path 'homepage_map_australia.jpg' %>)"></div>
      <%= render 'refinery/ironman/stockists/search_form' %>
    </div>
  </div>

  <div class="container products clearfix">
    <% products.each do |product| %>
    <div class="product col-sm-4">
      <%
      category = product.categories.first
      if category.present?
        if category.depth == 0
          url = refinery.products_category_product_path(category, product)
        elsif category.depth == 1
          url = refinery.products_subcategory_product_path(category.parent, category, product)
        else
          url = refinery.products_sub_subcategory_product_path(category.parent.parent, category.parent, category, product)
        end
      else
        url = product_path(product)
      end
      %>
      <%= link_to url do %>
      <div class="photo" style="background-image:url(<%= if product.thumbnail_image.present? then product.thumbnail_image.thumbnail(geometry: "365x193").url else image_path 'product_list_photo_default.jpg' end %>)"></div>
      <div class="content">
        <h3><%= product.name %></h3>
        <div class="description">
          <% if product.short_description.present? %>
          <%= product.short_description %>
          <% else %>
          <%= t('refinery.ironman.products.index.default_product_description') %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>

    <% if post.present? %>
    <div class="post col-sm-4">
      <%= link_to refinery.ironman_post_path(post) do %>
      <div class="photo" style="background-image:url(<%= if post.index_image.present? then post.index_image.thumbnail(geometry: "365x193").url else image_path 'product_list_photo_default.jpg' end %>)"></div>
      <div class="content">
        <h3><%= post.title %></h3>
        <div class="description">
          <% if post.teaser.present? %>
          <%= raw post.teaser %>
          <% else %>
          <%= t('refinery.ironman.posts.default_post_teaser') %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
