<% content_for :body_content_title do %>
  <%= t('.search_results_for', :what => params[:query]) %>
<% end %>

<% content_for :body do %>
  <div class="search-results-page">
    <div class="row search-filters">
      <%= label_tag 'search_results_categories[category]', 'Filter Results', class:'filter-results' %>
      <%= label_tag 'search_results_categories[category]', class:'checkbox-inline' do %>
        <%= check_box_tag 'search_results_categories[category]', 1, @filters[:category] %>
        <%= 'Categories' %>
      <% end %>
      <%= label_tag 'search_results_categories[products]', class:'checkbox-inline' do %>
        <%= check_box_tag 'search_results_categories[products]', 1, @filters[:products] %>
        <%= 'Products' %>
      <% end %>
      <%= label_tag 'search_results_categories[media]', class:'checkbox-inline' do %>
        <%= check_box_tag 'search_results_categories[media]', 1, @filters[:media] %>
        <%= 'Media' %>
      <% end %>
      <%= label_tag 'search_results_categories[news]', class:'checkbox-inline' do %>
        <%= check_box_tag 'search_results_categories[news]', 1, @filters[:news] %>
        <%= 'News' %>
      <% end %>
      <%= label_tag 'search_results_categories[events]', class:'checkbox-inline' do %>
        <%= check_box_tag 'search_results_categories[events]', 1, @filters[:events] %>
        <%= 'Events' %>
      <% end %>
      <%= label_tag 'search_results_categories[blog]', class:'checkbox-inline' do %>
        <%= check_box_tag 'search_results_categories[blog]', 1, @filters[:blog] %>
        <%= 'Blog' %>
      <% end %>
    </div>

  <% if @results.empty? %>
    <%= t('.no_results_for', :what => params[:query]) %>
  <% else %>
    <ul id="search_results" class="infinite-container">
      <% @results.each do |result| %>
        <li class="infinite-item">
          <span class='result_type'>
            <%= result_type result %>:
          </span>
          <%= link_to result_title(result).html_safe, result_url(result) %>
        </li>
      <% end %>
    </ul>
    <%= will_paginate @results %>
    <% end %>
  </div>
<% end %>

<%= render "/refinery/content_page" %>
