<div class="col-md-12 col-sm-12 main">
  <div class="container">
    <h1>SUSPENSION BUILDER</h1>
    <div class="col-md-6 col-sm-6 text">
      <div class="text">
       <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velist esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velist esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </div>
    </div>
    <div class="col-md-6 col-sm-6 offset6">
      <div class="col-md-12 col-sm-12">
       <%= image_tag 'Ironman_Suspension_img.png' %>
     </div>
   </div>

   <div class="col-md-9 col-sm-9 list">
    <div class="col-md-12 col-sm-12">
     <p class="title_first">1. INPUT YOUR VEHICLE SPECIFICATIONS</p>
   </div>

   <div class="col-md-12 col-sm-12 first-container">
     <div class="col-md-4 col-sm-4 line">
      <p class="big_title"><span id="caret" class="glyphicon glyphicon-chevron-down" onclick="this.className = (this.className == 'glyphicon glyphicon-chevron-down' ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down')">
      </span> &nbsp; &nbsp;1.1 VEHICLE</p>
    </div>
    <div class="col-md-7 col-sm-7">
      <p class="size">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
        <span class="more">More information<span id="caret" class="caret">
        </span></span></p>
      </div>
    </div>

    <div class="col-md-12 col-sm-12 second-container-gray" id="layout-fit-my-4x4">
      <div id="hid" class="container">
        <%= form_tag refinery.ironman_fit_my_4x4_results_path do %>
        <div class="col-md-12 col-sm-12 form-group clearfix vehicle-selector" id="make_model_series" >
          <%= render :partial => 'refinery/ironman/fit_my_car/suspension_select_boxes', :locals => {vehicle_1st_id: :vehicle_1st_id_fitmy4x4, vehicle_2nd_id: :vehicle_2nd_id_fitmy4x4, vehicle_3rd_id: :vehicle_3rd_id_fitmy4x4, vehicle_4th_id: :vehicle_4th_id_fitmy4x4, vehicle_5th_id: :vehicle_5th_id_fitmy4x4, vehicle_6th_id: :vehicle_6th_id_fitmy4x4} %>     
        </div>
        <% end %>
      </div>
    </div>    

    <%= render :partial => 'front_springs' %> 

    <%= render :partial => 'rear_wagon_setup' %>

    <%= render :partial => 'rear_ute_setup' %>

<div class="col-md-12 col-sm-12">
 <p class="title_first">2. SELECT SHOCK ABSORBERS</p>
</div>
<div class="col-md-12 col-sm-12 four-container">
 <div class="col-md-4 col-sm-4 line">
   <p class="big_title"><span id="caret4" class="glyphicon glyphicon-chevron-down" onclick="this.className = (this.className == 'glyphicon glyphicon-chevron-down' ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down')">
   </span> &nbsp; &nbsp;2.1 front shock &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;absorbers</p>
 </div>
 <div class="col-md-7 col-sm-7">
  <p class="size2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
    <span class="more">More information<span id="caret4" class="caret">
    </span></span></p>
  </div>
  <div class="photo2"><%= image_tag 'qestion.png' %></div>
</div>

<div class="col-md-12 col-sm-12 second-container-gray" id="hid5">
  <%= render :partial => 'front_shocks' %>
</div>

  <div class="col-md-12 col-sm-12 fifth-container">
    <div class="col-md-4 col-sm-4 line">
     <p class="big_title"><span id="caret5" class="glyphicon glyphicon-chevron-down" onclick="this.className = (this.className == 'glyphicon glyphicon-chevron-down' ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down')">
     </span> &nbsp; &nbsp;2.2 rear shock &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;absorbers</p>
   </div>
   <div class="col-md-7 col-sm-7">
    <p class="size2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
      <span class="more">More information<span id="caret5" class="caret">
      </span></span></p>
    </div>
    <div class="photo2"><%= image_tag 'qestion.png' %></div>
  </div>
  <div class="col-md-12 col-sm-12 second-container-gray" id="hid6">
    <%= render :partial => 'rear_shocks' %>
  </div>

    <div class="col-md-12 col-sm-12">
     <p class="title_first">3. Components</p>
   </div>
   <div class="col-md-12 col-sm-12 six-container">
     <div class="col-md-4 col-sm-4 line">
       <p class="big_title"><span id="caret6" class="glyphicon glyphicon-chevron-down" onclick="this.className = (this.className == 'glyphicon glyphicon-chevron-down' ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down')">
       </span> &nbsp; &nbsp;3.1 mandatory &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;components</p>
     </div>
     <div class="col-md-7 col-sm-7">
      <p class="size2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
        <span class="more">More information<span id="caret6" class="caret">
        </span></span></p>
      </div>
      <div class="photo2"><%= image_tag 'qestion.png' %></div>
    </div>
    <div class="col-md-12 col-sm-12 second-container-gray" id="hid7">
      <%= render :partial => 'mandatory_components' %>
    </div>

<div class="col-md-12 col-sm-12 seven-container">
  <div class="col-md-4 col-sm-4 line">
   <p class="big_title"><span id="caret7" class="glyphicon glyphicon-chevron-down" onclick="this.className = (this.className == 'glyphicon glyphicon-chevron-down' ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down')">
   </span> &nbsp; &nbsp;3.2 optional &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;components</p>
 </div>
 <div class="col-md-7 col-sm-7">
   <p class="size2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
    <span class="more">More information<span id="caret7" class="caret">
    </span></span></p>
  </div>
  <div class="photo2"><%= image_tag 'qestion.png' %></div>
</div>
<div class="col-md-12 col-sm-12 second-container-gray" id="hid8">
  <%= render :partial => 'optional_components' %>
</div>

</div>

  <div class="col-md-3 col-sm-3 list2 conteiner-fix">
  <%= render :partial => 'side_bar' %>