$(document).on 'page:load ready', ->
  cookieOptions = {expires:7, path: '/'}

  headings = {
    '#wishlist-review': '<%= I18n.t('refinery.ironman.orders.new.headings.wishlist_review') %>'
    '#wishlist-details': '<%= I18n.t('refinery.ironman.orders.new.headings.wishlist_details') %>'
    '#wishlist-stockist': '<%= I18n.t('refinery.ironman.orders.new.headings.wishlist_stockist') %>'
    '#wishlist-submission': '<%= I18n.t('refinery.ironman.orders.new.headings.wishlist_submission') %>'
  }

  $('#wishlist .next.btn').on 'click', ->
    active = $('#wishlist li.active a[data-toggle="tab"]').attr('href')

    validations = {
      '#wishlist-review': -> true
      '#wishlist-details': ->
        ok = true

        vehicleData = {
          vehicle_make_id: Number $('#vehicle_1st_id').val()
          vehicle_model_id: Number $('#vehicle_2nd_id').val()
          vehicle_series_id: Number $('#vehicle_3rd_id').val()
        }

        if vehicleData.vehicle_make_id isnt 0 and (vehicleData.vehicle_model_id is 0 or vehicleData.vehicle_series_id is 0)
          alert('<%= I18n.t('layouts.fit_my_4x4.warning') %>')
          ok = false

        else
          $('input[required=required],textarea[required=required],select[required=required]', active).each ->
            if not $(@).val()
              ok = false

          if not ok
            alert '<%= I18n.t('refinery.ironman.orders.new.required_fields_missing') %>'
          else
            if not $('#terms_conditions').is(':checked')
              alert '<%= I18n.t('refinery.ironman.orders.contact_details.terms_conditions.warning') %>'
              ok = false

        return ok
      '#wishlist-stockist': -> true
    }

    if not validations[active]? or validations[active]()
      nextTab = $(@).data('next-tab')
      $('#wishlist ul[role=tablist] a[href="#' + nextTab + '"]').tab('show').focus().blur()

  $('#wishlist-details :input').on 'change', ->
    vehicleData = {
      vehicle_make_id: Number $('#vehicle_1st_id').val()
      vehicle_model_id: Number $('#vehicle_2nd_id').val()
      vehicle_series_id: Number $('#vehicle_3rd_id').val()
    }

    if not (vehicleData.vehicle_make_id is 0 or vehicleData.vehicle_model_id is 0 or vehicleData.vehicle_series_id is 0)
      $.cookie 'vehicle_details', JSON.stringify(vehicleData), cookieOptions

    if not window.localStorage?
      return
    else
      localStorage.setItem 'wishlist-details', JSON.stringify $(@).closest('form').serializeObject()

  if window.localStorage?
    data = JSON.parse(localStorage.getItem('wishlist-details') ? '{}')
    _.each data, (value, key) ->
      if key.match('order|terms_conditions')
        el = $("[name=\"#{key}\"]")
        if el.not('[type=hidden]').length
          if el.is(':checkbox')
            el.prop 'checked', (value isnt '0')
          else
            el.val value

  setClassesForTabs = (active) ->
    currentIndex = 0

    $('#wishlist ul[role=tablist] a').each (i, tab) ->
      if tab == active
        currentIndex = i

    $('#wishlist ul[role=tablist] li').each (i) ->
      if i < currentIndex
        $(@).addClass 'completed'
      else
        $(@).removeClass 'completed'
      if i > currentIndex
        $(@).addClass 'incomplete'
      else
        $(@).removeClass 'incomplete'

  $('#wishlist a[data-toggle="tab"]').on 'click', (e) ->
    if ($(e.target).closest('li').hasClass('incomplete'))
      e.preventDefault()
      e.stopPropagation()

  $('#wishlist a[data-toggle="tab"]').on 'shown.bs.tab', (e) ->
    setClassesForTabs e.target
    $.cookie 'wishlist-tab', e.target.hash
    $('#layout-heading .page-header').text headings[e.target.hash]

  tab = $.cookie 'wishlist-tab'
  if tab? and tab
    $('#wishlist ul[role=tablist] a[href="' + tab + '"]').tab('show').focus().blur()
    if tab is '#wishlist-review'
      setClassesForTabs active
  else
    active = $('#wishlist li.active a[data-toggle="tab"]').get(0)
    setClassesForTabs active

  $('#wishlist-stockist #stockists .stockist').append(
    '<div class="row">
      <div class="field contact col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-info btn-sm select-stockist"><%= I18n.t('refinery.ironman.orders.new.buttons.select') %></button>
      </div>
    </div>'
  )

  stockistsInit = false

  $('#wishlist a[data-toggle="tab"][href="#wishlist-stockist"]').on 'shown.bs.tab', (e) ->
    window.initStockists() if not stockistsInit
    stockistsInit = true

  $('#wishlist-stockist .btn.select-stockist').on 'click', ->
    btn = $(@)
    if btn.hasClass 'btn-primary'
      $('#order_stockist_id').val ''

      $(@).removeClass 'btn-primary'
      $(@).addClass 'btn-info'
      $(@).text '<%= I18n.t('refinery.ironman.orders.new.buttons.select') %>'
    else
      $('#wishlist-stockist .btn.select-stockist.btn-primary').each ->
        $(@).removeClass 'btn-primary'
        $(@).addClass 'btn-info'
        $(@).text '<%= I18n.t('refinery.ironman.orders.new.buttons.select') %>'

      stockistId = $('.heading.row', $(@).closest('.stockist')).data 'stockist-id'
      $('#order_stockist_id').val stockistId

      $(@).removeClass 'btn-info'
      $(@).addClass 'btn-primary'
      $(@).text '<%= I18n.t('refinery.ironman.orders.new.buttons.selected') %>'

    $(@).blur()

    if not window.localStorage?
      return
    else
      localStorage.setItem 'wishlist-details', JSON.stringify $('#new_order').serializeObject()
