<!--
<p>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</p>
-->

<%= render :partial => 'layouts/fit_my_4x4' if @layout_fit_my_4x4.present? and @layout_fit_my_4x4 == 'below' %>
<%= render :partial => 'layouts/social' if @layout_social.present? %>
<%= render :partial => 'layouts/homepage_categories' if @layout_homepage_categories.present? and @layout_homepage_categories %>
<%= render :partial => 'layouts/categories' if @layout_categories.nil? or @layout_categories %>
<%= render :partial => 'layouts/footer_links' if @layout_footer_links.nil? or @layout_footer_links %>
<%= render :partial => 'layouts/acknowledgements' if @layout_acknowledgements.nil? or @layout_acknowledgements %>
