<%
cache(:footer_links, expires_in: 1.hour) do

  begin
    warranty_page = ::Refinery::Page.friendly.find('warranty-terms')
  rescue ActiveRecord::RecordNotFound
    warranty_page = nil
  end

  begin
    faq_page = ::Refinery::Page.friendly.find('frequently-asked-questions')
  rescue ActiveRecord::RecordNotFound
    faq_page = nil
  end

  begin
    claims_page = ::Refinery::Page.friendly.find('claims-procedure')
  rescue ActiveRecord::RecordNotFound
    claims_page = nil
  end

  begin
    contact_page = ::Refinery::Page.friendly.find('contact')
  rescue ActiveRecord::RecordNotFound
    contact_page = nil
  end

  begin
    privacy_page = ::Refinery::Page.friendly.find('privacy-policy')
  rescue ActiveRecord::RecordNotFound
    privacy_page = nil
  end

  begin
    terms_page = ::Refinery::Page.friendly.find('terms-conditions')
  rescue ActiveRecord::RecordNotFound
    terms_page = nil
  end

%>
  <div id="layout-footer">
    <div class="container">
      <div class="row">
        <dl class="col-sm-3">
          <dt><%= t('.support.description') %>
          <dd><%= link_to t('.support.fitting_instructions'), refinery.fitting_instructions_path %></li>
          <% if faq_page.present? %>
          <dd><%= link_to t('.support.faqs'), refinery.marketable_page_path(faq_page) %></li>
          <% end %>
        </dl>

        <dl class="col-sm-3">
          <dt><%= t('.warranty.description') %>
          <% if warranty_page.present? %>
          <dd><%= link_to t('.warranty.terms'), refinery.marketable_page_path(warranty_page) %></li>
          <% end %>
          <% if claims_page.present? %>
          <dd><%= link_to t('.warranty.claims_procedure'), refinery.marketable_page_path(claims_page) %></li>
          <% end %>
        </dl>

        <dl class="col-sm-3">
          <dt><%= t('.contact.description') %>
          <% if contact_page.present? %>
          <dd><%= link_to t('.contact.head_office'), refinery.marketable_page_path(contact_page) %></li>
          <% end %>
          <% if contact_page.present? %>
          <dd><%= link_to t('.contact.international_distributors_contact'), "#{refinery.marketable_page_path(contact_page)}#africa" %></li>
          <% end %>
        </dl>

        <dl class="col-sm-3">
          <dt><%= t('.legal.description') %>
          <% if privacy_page.present? %>
          <dd><%= link_to t('.legal.privacy_policy'), refinery.marketable_page_path(privacy_page) %></li>
          <% end %>
          <% if terms_page.present? %>
          <dd><%= link_to t('.legal.terms_conditions'), refinery.marketable_page_path(terms_page) %></li>
          <% end %>
        </dl>

        <!--
        <dl>
          <dt><%= t('.sitemap.description') %>
        </dl>
        -->
      </div>
    </div>
  </div>
<% end %>
