  <div id="layout-footer">
    <div class="container">
      <div class="row">
        <dl class="col-sm-3">
          <dt><%= t('.support.description') %>
          <dd><%= link_to t('.support.fitting_information'), refinery.root_path %></li>
          <dd><%= link_to t('.support.technical_information'), refinery.root_path %></li>
          <dd><%= link_to t('.support.faqs'), '/frequently-asked-questions-faqs' %></li>
        </dl>

        <dl class="col-sm-3">
          <dt><%= t('.warranty.description') %>
          <dd><%= link_to t('.warranty.terms'), '/warranty-terms' %></li>
          <dd><%= link_to t('.warranty.claims_procedure'), refinery.root_path %></li>
        </dl>

        <dl class="col-sm-3">
          <dt><%= t('.contact.description') %>
          <dd><%= link_to t('.contact.head_office'), refinery.root_path %></li>
          <dd><%= link_to t('.contact.international_distributors_contact'), refinery.root_path %></li>
        </dl>

        <dl class="col-sm-3">
          <dt><%= t('.legal.description') %>
          <dd><%= link_to t('.legal.privacy_policy'), '/privacy' %></li>
          <dd><%= link_to t('.legal.terms_conditions'), '/terms-conditions' %></li>
        </dl>

        <!--
        <dl>
          <dt><%= t('.sitemap.description') %>
        </dl>
        -->
      </div>
    </div>
  </div>
