  <div id="layout-second-nav">
    <div class="container">
      <%= link_to refinery.root_path do %>
      <div class="logo">
        <h1><%= t('.logo.title') %></h1>
      </div>
      <% end %>

      <div class="clearfix">

        <% cache_key = [:second_nav_links] %>
        <% num = num_items_in_cart %>
        <% cache_key.push num if num.present? and num > 0 %>
        <% cache(cache_key, expires_in: 1.hour) do %>
        <div class="navbar navbar-default">
          <div class="navbar-header">
            <span class="navbar-text">Menu</span>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#drop-down-nav">
              <span class="sr-only"><%= t('.toggle_navigation') %></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        <ul class="sections collapse navbar-collapse" id="drop-down-nav">
          <li class="nav-trigger">
            <%= link_to refinery.ironman_products_path, class:'navlink' do %>
              <%= t('.nav.products') %>
            <% end %>

            <% cache(cache_key_for_categories) do %>
            <% categories = Refinery::Ironman::Category.roots.active.order(:sort_order => :asc) %>
            <% if categories.present? %>
            <ul class="dropdown">
              <% categories.each do |category| %>
                <%
                  if category.leaf?
                    url = refinery.category_products_path(category)
                  else
                    url = refinery.product_categories_path(category)
                  end
                %>
                <li><%= link_to category.name, url %></li>
              <% end %>
            </ul>
            <% end %>
            <% end %>
          </li>
          <li>
            <%= link_to refinery.fit_my_4x4_path do %>
              <%= t('.nav.fitmy4x4') %>
            <% end %>
          </li>
          <%
            begin
              tech_support_page = ::Refinery::Page.friendly.find('technical-support')
            rescue ActiveRecord::RecordNotFound
              tech_support_page = nil
            end
          %>
          <% if tech_support_page.present? %>
          <li>
            <%= link_to refinery.fitting_instructions_path do %>
              <%= t('.nav.technical') %>
            <% end %>
          </li>
          <% end %>
          <li class="wishlist">
            <%= link_to refinery.new_ironman_order_path do %>
              <%= t('.nav.wish_list') %>
              <% if num.present? and num > 0 %>
                <span class="badge badge-primary"><%= num %></span>
              <% end %>
            <% end %>
          </li>
        </ul>
        </div>
        <% end %>

        <%= render :partial => 'refinery/ironman/stockists/search_form', :locals => {find_store_link: true} %>
      </div>
    </div>
  </div>
