  <div id="layout-second-nav">
    <div class="container">
      <%= link_to refinery.root_path do %>
      <div class="logo">
        <h1><%= t('.logo.title') %></h1>
      </div>
      <% end %>

      <div class="clearfix">
        <ul class="sections">
          <li>
            <%= link_to refinery.ironman_products_path do %>
              <%= t('.nav.products') %>
            <% end %>
          </li>
          <li>
            <%= link_to refinery.fit_my_4x4_path do %>
              <%= t('.nav.fitmy4x4') %>
            <% end %>
          </li>
          <%
            begin
              tech_support_page = ::Refinery::Page.friendly.find('technical-support')
            rescue ActiveRecord::RecordNotFound
              tech_support_page = nil
            end
          %>
          <% if tech_support_page.present? %>
          <li>
            <%= link_to refinery.marketable_page_path(tech_support_page) do %>
              <%= t('.nav.technical') %>
            <% end %>
          </li>
          <% end %>
          <li>
            <%= link_to refinery.root_path do %>
              <%= t('.nav.wish_list') %>
            <% end %>
          </li>
          <li>
            <%= link_to refinery.ironman_stockists_path do %>
              <%= t('.nav.stockists') %>
            <% end %>
          </li>
        </ul>

        <%= render 'refinery/ironman/stockists/search_form' %>
      </div>
    </div>
  </div>
