<div id="layout-social">
  <div class="container">
    <ul class="icons">
      <li class="icon facebook">
        <%= link_to 'https://www.facebook.com/Ironman4x4au' do %>
          <%= image_tag('icon_social_facebook.png') %>
        <% end %>
      </li><!--
      --><li class="icon instagram">
        <%= link_to 'http://instagram.com/ironman4x4' do %>
          <%= image_tag('icon_social_instagram.png') %>
        <% end %>
      </li><!--
      --><li class="icon twitter">
        <%= link_to 'https://twitter.com/ironman4x4au' do %>
          <%= image_tag('icon_social_twitter.png') %>
        <% end %>
      </li><!--
      --><li class="icon youtube">
        <%= link_to 'https://www.youtube.com/user/ironman4x4au' do %>
          <%= image_tag('icon_social_youtube.png') %>
        <% end %>
      </li>
    </ul>

    <form class="form-search">
      <div class="description"><%= t('.newsletter.description') %></div>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="<%= t('.newsletter.placeholder') %>" />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-search selector go"><%= t('.newsletter.go') %></button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
